/* reset */
@import "reset.css";

body {
  font-family: PT Sans;
}

/* material icons */

.material-icons,
.material-icons-outlined {
  color: #ffffff;
}


/* for desktop */

/* header */

.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  text-align: center;
}

.header-logo {
  width: 80px;
  min-width: 80px;
  height: 60px;
  background: #292d38;
}

.header-logo img {
  width: 42.7px;
  height: 30px;
  margin: 15px 0 15px 0px;
  vertical-align: middle;
} 

.header-search-bar {
  width: calc(100% - 308.75px);
  padding: 0 5px;
}

.header-search.material-icons-outlined {
  width: 18px;
  height: 18px;
  padding: 21px;
  color: #000000;
}

.header-search-bar {
  vertical-align: middle;
}

.header-search-bar input {
  width: 60%;
  padding: 18px 0;
  border-style: none;
  float: left;
}

.header-user {
  width: 168.75px;
  min-width: 168.75px;
  vertical-align: middle;
  color: #666666;
}

.header-user .material-icons-outlined {
  float: left;
  font-size: 28px;
  padding: 16px 12px 16px 0;
  color: #666666;
}

.header-user-dropdown {
  width: calc(100% - 40px);
  height: 60px;
  float: left;
}

.user-id {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 21px 10px;
  float: left;
}

#profile-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 12px;
  float: left;
}

.header-user-drbtn {
  float: left;
  background: transparent;
  cursor: pointer;
  color: inherit;
  z-index: 1;
}

.user-id:hover {
  color: #00babb;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background: #ffffff;
  width: 128.75px;
  z-index: 1;
  overflow: visible;
}

.header-user-dropdown button:focus + .user-dropdown-content {
  display: block;
  top: 60px;
  font-size:16px;
  text-align: center;
  position: absolute;
}

.user-dropdown-content li {
  display: block;
  font-size: 12px;
  text-align: left;
  line-height: 30px;
  padding-left: 20px;
  z-index: 1;
}

.user-dropdown-content li:hover {
  background: #fafafa;
}

#logout {
  font-weight: bold;
}

/* side nav */

.nav {
  width: 80px;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  background: #292d38;
  position: fixed;
  top: 0;
  padding-top: 60px;
  z-index: 1;
}

.nav-sidebar li {
  width: 80px;
  height: 80px;
  list-style: none;
  text-align: center;
  vertical-align: middle;
  padding: auto;
}
.nav-sidebar li span.material-icons-outlined {
  width: 25px;
  height: 35px;
  vertical-align: middle;
  padding: 22.5px 27.5px;
  color: #777777;
}

/* user profile */

main {
  width: 100%;
  height: 100%;
  background: #fafafa;
  display: block;
  flex-direction: row;
  position: relative;
  z-index: 0;
}

main .section-profile {
  height: 314px;
  display: flex;
  flex-direction: row;
  background: url(../images/gam_cover.jpeg);
  background-position: top 100% left 5%;
  background-size: 150% 150%;
  padding-left: 80px;
}

.coalition {
  width: 100px;
  height: 314px;
  padding: 0 10px 0 38px;
  margin: 0;
  z-index: 0;
}

.coalition a {
  width: 100px;
  height: 150px;
  display: block;
  padding-bottom: 10px;
}

.coal-score {
  margin: 0 18.7px;
}

.coal-score td {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.coal-score td p {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  padding-left: 5px;
}

.coal-score td i {
  font-size: 22px;
  line-height: 24px;
  vertical-align: middle;
  padding: 1px 0;
}

.profile-info {
  width: 100%;
  height: 314px;
  margin: 0 36px 0 20px;
  z-index: 0;
}

.info-row1-name-id {
  height: 32px;
  padding: 10px 0;
  position: relative;
}

.info-row1-name-id span:first-of-type {
  color: #4c83a4;
  top: 0;
  position: absolute;
  top: 13px;
}

.info-row1-name-id span:first-of-type a:hover {
  text-decoration: underline;
}

.info-row1-name-id span:nth-of-type(2) {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 45px;
}

.info-row1-name-id span:nth-of-type(3) {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  top: 16px;
  left: 200px;
}

.info-row1-name-id span:last-of-type {
  height: 30px;
  width: 130px;
  background: rgba(32,32,38,0.85);
  border-radius: 8%;
  float: right;
  text-align: center;
  vertical-align: middle;
  margin-right: 30px;
}

.info-row1-name-id span:last-of-type i {
  font-size: 20px;
  padding: 3px 5px;
}

.info-row1-name-id span:last-of-type i:hover {
  color: #00babb;
}

.info-row2 {
  display: flex;
  flex-direction: row;
}

.stats {
  width: 30%;
  height: 250px;
  background: rgba(32,32,38,0.85);
  border-radius: 2%;
}

.stats table {
  margin: 64.5px auto;
  vertical-align: middle;
}

.stats tr td {
  font-size: 18px;
  line-height: 32px;
}

.stats tr td:first-of-type {
  color: #4c83a4;
}

.stats tr td:last-of-type {
  color: #ffffff;
  text-align: right;
}

.info-else {
  width: 70%;
  height: 210px;
}

.info-else-inline {
  height: 210px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  margin-left: 10px;
}

.cluster-seat,
.blackhole {
  width: 100%;
  height: 200px;
  background: rgba(32,32,38,0.85);
  text-align: center;
  vertical-align: middle;
  border-radius: 2%;
}

.cluster-seat {
  color: #ffffff;
  vertical-align: middle;
}

.cluster-seat h2 {
  margin-top: 60px;
  font-size: 36px;
  line-height: 42px;
}

.cluster-seat p {
  font-size: 24px;
  line-height: 32px;
}

.blackhole h2 {
  font-size: 16px;
  color: #4a7d9e;
  line-height: 24px;
  margin-top: 60px;
}

.blackhole p,
.blackhole i {
  font-size: 28px;
  color: #52d17a;
  line-height: 56px;
  vertical-align: middle;
}

.blackhole i {
  font-size: 48px;
  line-height: 56px;
}

.level-bar {
  width: 100%;
  position: relative;
}

.level-bar span {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 4px;
  line-height: 36px;
  z-index: 1;
  position: absolute;
}

#level {
  width: 100%;
  border-radius: 2%;
  z-index: 0;
  position: absolute;
}

.info-else progress::-webkit-progress-bar {
  width: 100%;
  height: 36px;
  margin: 4px 0 0 10px;
  border-radius: 2%;
  background: rgba(32,32,38,0.85);
}

.info-else progress::-webkit-progress-value {
  width: 100%;
  height: 36px;
  border-radius: 2%;
  background: #4c83a4;
}

/* contents */

main .contents {
  height: 100%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.4%;
  margin-left: 80px;
  padding-top: 20px;
  background: #fafafa;
}

.contents-blocks {
  height: 300px;
  margin: 20px;
  padding: 35px 30px;
  background: #ffffff;
}

.contents-blocks h3 {
  float: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.contents-buttons {
  font-family: PT Sans Narrow;
  font-size: 12px;
  color: #58c9ca ;
  text-align: center;
  float: right;
}

.contents-buttons span {
  border: 1px solid;
  padding: 6px 8px;
  margin: 1px;
}

.contents-buttons span i {
  font-size: 13px;
  color: #58c9ca;
  line-height: 24px;
  vertical-align: middle;
}

/* footer */

footer {
  display: block;
  position: relative;
  z-index: 0;
  height: 30px;
  margin-left: 80px;
  padding: 15px;
  background: #fafafa;
}

.footer-links {
  width: 1000px;
  margin: auto;
}

footer span {
  font-size: 13px;
  text-align: center;
  margin: 0 7px;
  vertical-align: 0;
  color: #777777 !important;
}

footer span a:hover {
  text-decoration: underline;
}